footer {
    width: 90%;
    border-top: 1px solid #6b6a6a;
    position: absolute;
    bottom: 0;
    left: 2.5%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}       